flask>=3.0.0
httpx>=0.25.0
requests>=2.31.0
langchain>=0.3.0
pydantic
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-openai>=0.2.0
langchain-anthropic>=0.3.0
langchain-google-genai>=2.0.0
langchain-groq>=0.2.0
langgraph>=0.2.0
psycopg-pool>=3.2.0
python-dotenv>=1.0.0
loguru>=0.7.2
langchain-postgres>=0.0.12
psycopg[binary]>=3.2.0
langgraph-checkpoint-postgres
google-api-python-client==2.116.0
PyJWT==2.8.0
#Quitarlos para producción, solo para desarrollo local
langchain-chroma
pypdf
tiktoken